@mixin wvu-shout {
  line-height: $wvu-shout-line-height;
  font-family: $wvu-shout-fallback;
  text-transform: uppercase;
  font-weight: normal;
  .fonts-loaded & {
    font-family: $wvu-shout;
  }
}

@mixin wvu-subhead {
  line-height: $helvetica-bold-line-height; 
  font-weight: bold;
  text-transform: none;
}

@mixin wvu-traditional-audience {
  line-height: $wvu-traditional-audience-line-height;
  font-family: $wvu-traditional-audience;
  font-weight: normal;
  text-transform: none;
}

@mixin wvu-typography-anchor-tag  {
  a {
    color: $wvu-base-link-color;
    text-decoration: underline;
    &:visited {
      color: $wvu-visited-link-color;
      text-decoration: none;
    }
    &:active {
      text-decoration: none;
    }
    &:hover {
      color: $wvu-hover-link-color;
      text-decoration: underline;
    }
  }
}
